.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}
.classzzzzz{
    color:red;
}